.Audio {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  cursor: pointer;
  &:hover, &:active {
    background-color: lightGray;
  }

  .filename {
    font: 400 10pt Arial;
    margin-left: 0.25rem;
    text-align: left;

    &.playing {
      font-weight: bold;
    }
  }

  .play-pause-symbol-container {
    /* Draw a box around the symbol. */
    border: 1px solid darkGray;
    padding: 0.2rem;

    width: 0.75rem;
    height: 1rem;
  }

  .play-symbol {
    position: relative;
    left: 1.5px;
  }

  .pause-symbol {
    position: relative;
    top: -1.5px;
  }

  .loading-spinner-container {
    /* Draw a box around the spinner. */
    border: 1px solid darkGray;

    width: calc(0.75rem + 0.2rem + 0.2rem);
    height: calc(1rem + 0.2rem + 0.2rem);

    cursor: pointer;
  }

  .spinner {
    width: 100%;
    display: block;
  }
}
