.SongList {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .search-box {
    height: 1rem;    
  }

  .file-container {
    display: flex;

    .lyrics-link {
      font: 400 10pt Arial;

      display: flex;
      align-items: center;

      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }

    .download-link {
      font: 400 10pt Arial;

      display: flex;
      align-items: center;

      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .party-mode-toggle {
    width: 10rem;
    
    .party-mode-toggle-button {
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}
